.app__footer {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: white;
position:absolute;
width:100%;

}
.app__footer__text {
    font-size: 19px;
}
.app__footer__icons {
display: flex;
gap: 2rem;
 position: relative;
bottom: 5px;
}
